@page
@model RazorPagesMovie.Pages.Records.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].recordName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].addedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Record[0].amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Record) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.recordName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.recordID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.recordID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.recordID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
